* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    
}
/* Header da secao*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #E4EEF1;
    background-color: #FF69B4;
    height: 15vh;   

    section {
        display: flex;
        align-items: center;
    }

    nav {
        width: 40%;

        ul {
            display: flex;
            justify-content: space-around;

            a {
                color: #E4EEF1;  
                font-size: 28px;
            }
        }
    }
}


/* Backgorund da classe sessaoAlerta*/
.sessaoAlerta {
    //border: solid red 5px;
    background-color: #FFD9EC;
    display: flex;
    // vh - Viewport height
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    /* Tamamnho das imagen da calsse .sessaoAlerta*/
    p {
        width: 40%;
        font-size: 25px;
    }

    img {
        width: 19.010416666666668vw;
    }
}
  

/* Backgorund da classe sessaoCorrida*/
.sessaoCorrida {
    background-color: #FF69B4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35vh;

    /* Tamamnho das imagen da calsse .sessaoCorrida*/
    p {
        width: 55%;
        font-size: 25px;
        color: #E4EEE1;
    }
}

.sessaoDicas {
    height: 50vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 20%;
      }
}


.ImagemCampanha {
    height: 40vh;
}

.SegundaImagem {
    height: 30vh;
}

.Text1 {
    font-size: 2.5vh;
    width: 24vw;
} 


.Text2 {
    color: #E4EEF1;
    font-size: 2.5vh;
    width: 30vw;
}


/* ROdape do site*/

footer {
    background-color: #FF69B4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;

    .redesSocias {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 10vw;
    }

    .icones {
        height: 5vh;
        cursor:pointer;
    }

    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            font-size: 2vh;
            color: #E4EEF1;
        }
    }
}


/* responsividade do Dispotivo mobile*/ 
/*
@media (max-width: 768px) {
    header {
        height: 20vh;
        flex-direction: column;

        nav {
            border: solid red;
            width: 95%;
        }
        /* No dispositivo mobile */
        /*
        .sessaoAlerta {
            height: 80vh;
            flex-direction: column-reverse;

            p {
                width: 90%;
                font-size: 22px;
                text-align: center;
            }
            
            img {
                width: 40;
            }
            .sessaoCorrida {
                height: 80vh;
                flex-direction: column;
            }

            .sessaoDicas {
                flex-direction: column;
                height: 70vh;
            }

            img {
                height: 15vh;
            }
            p {
                width: 90%;
                font-size: 22px;
                text-align: center;
            }
        }
    }
}*/